body {
    width: 100%;
    height: 100%;
}

#touchVoltar {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 15px;
    top: 107px;
}

#voltar{
    position: absolute;
    left: 7%;
    top: 6%;
}

#box {
    box-sizing: border-box;
    position: absolute;
    width: 139px;
    height: 158px;
    left: 110px;
    top: 139px;
    background: #E3CAB6;
    border: 3px solid #4B311C;
    border-radius: 25px;
}

#camera {
    position: absolute;
    width: 64.49px;
    height: 64.49px;
    top: 45px;
    left: 36px;
}

label {
    position: absolute;
    width: 109px;
    height: 24px;
    left: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

#label1 {
    top: 353px;
}

#label2 {
    top: 461px;
}

input {
    box-sizing: border-box;
    position: absolute;
    width: 304px;
    height: 63px;
    left: 28px;
    background: #FFFFFF;
    border: 2px solid #4B311C;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

#input1 {
    top: 386px;
}

#input2 {
    top: 494px;
}

#btn {
    position: absolute;
    width: 186px;
    height: 67px;
    left: 87px;
    top: 613px;
    background: #E3CAB6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#textbtn {
    position: absolute;
    width: 72px;
    height: 24px;
    left: 57px;
    top: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}