body {
    font-family: 'Inter';
    font-style: normal;
}

#touchVolta {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 15px;
}
#voltar{
    position: absolute;
    left: 7%;
    top: 20px;
}
.position{
    margin-top: 60px;
}
main{
    position: absolute;
    width: 100%;
    height: 60%;
    top: 10%;
    right: 0%;
    left: 0%;
}
#titulo{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-decoration-line: underline;
    color: #000000;
    text-align: center;
}
#bordex{
    border-radius: 100%;
    width: 170px;
    height: 170px;
    background: #FFFFFF;
    border: 2px solid #4B311C;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#camera{
    max-width: 170px;
    max-height: 170px;
}
#userName{
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    margin-bottom: 5px;
}
#fundo{
    width: 100%;
    background: #E3CAB6;
}
#dados{
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    padding: 15px;
}
#act{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box{
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
    width: 33%;
    height: auto;
}
.minibox{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #4B311C;
    border: 3px solid #4B311C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}
.txtMiniBox{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F3E8DF;
    padding-bottom: 8px;
}
.iconMiniBox{
    width: 50px;
    height: 50px;
}
#scroll{
    overflow-x: auto; 
    white-space: nowrap; 
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 305px) {
    #dados{
        font-size: 20px;
    }
    #userName{
        font-size: 25px;
    }
}
